body {
    border-style: double;
    color: rgb(8, 8, 8);
  }
  
  h1 {
     color: #ccc; }
  h2{
    font-family: "Lucida Console", "Courier New", monospace;
    color: red;}
  h3{color:rgb(17, 34, 34)}
  h4{color:black}
#top {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 40px ;
    margin:auto;
    border-style: double;
}  
#one{
    text-align: left;
    font-weight: 40px  ;
    margin:auto;
    border-style: double;

}
#two {
    font-weight: 40px  ;
    margin:auto;
    border-style: double; 
    float: right;

}
