<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="container">
    <h2>Certification Form</h2>
    <form id="certificationForm" th:action="@{/update}" th:object="${certificate}" method="post">
        <div class="form-group">
            <label for="certificationId">ID:</label>
            <input type="text" id="certificationId" required th:field="*{id}">
        </div>
        <div class="form-group">
            <label for="certificationName">Certification Name:</label>
            <input type="text" id="certificationName" required th:field="*{certificationName}">
        </div>
        <div class="form-group">
            <label for="cost">Cost:</label>
            <input type="number" id="cost" required th:field="*{cost}">
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" required th:field="*{category}">
        </div>
        <div class="button-group">
            <button type="submit" >Update</button>
        </div>
    </form>

    <a th:href="@{/}"> Back to IT CERTIFICATE MANAGEMENT</a>
</div>

</body>
</html>